body {
  background-color: seagreen;
  color: white;
  font-family: monospace;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button {
  padding: 1rem 2rem;
  background-color: white;
  border: 2px solid white;
  margin: 0 auto;
  font-family: monospace;
}
